<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fedkf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SensorsCount" value="4"/>
    <add key="NumOrder" value="2"/>
    <add key="DenOrder" value="4"/>
    <add key="DCMFilePath" value="Data\dcm.txt"/>
    <add key="NoisesFilePath" value="Data\Noises1000.csv"/>
    <add key="SignalsFilePath" value="Data\Signals1000.csv"/>
    <add key="TargetsFilePath" value="Data\Targets1000.csv"/>
    <add key="ProcCovFilePath" value="Data\pcov.txt"/>
    <add key="MaxSimLength" value="250"/>
    <add key="GenerationsCount" value="1000"/>
    <add key="PopulationSize" value="3000"/>
    <add key="CrossoverRate" value="0.8"/>
    <add key="MutationRate" value="0.07"/>
    <add key="MaxGeneValue" value="1.0"/>
    <add key="MinGeneValue" value="0.0"/>
    <add key="GenomeLength" value="24"/>
    <add key="SimilarityThreshold" value="0.000001"/>
		<add key="SimulationGenesPath" value="Data\SimGenes.txt"/>
  </appSettings>
</configuration>